.index-100{
    display: flex;
    justify-content: center;
    align-items: center;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    max-height: 1024px;
    
}
.index-101{
    position: fixed;
    z-index: -1;
}
.index-101-2{
    z-index: 1;
    padding: 130px;
}